head{
    text-align: center;
    align-items:center;
}

body{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   text-align:center;
   align-items:center;
}

header {
    font-weight:800;
    color: red;
    opacity: 200%;
    padding: 30px 0;
}

header .row {
    display:flex;
}


header h1{
   font-weight: 300;
   margin: 0;
}

.jumbotron {
  display: flex;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/The_Comedy_Spot.jpg/500px-The_Comedy_Spot.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: 700px;
}

#subtitle{
    color:purple;
}
.appetizer {
  margin: 0 0 30px;
}
.entree {
  margin: 0 0 30px;
}

.container{
    background-size:auto;
    
}
.container1{
    color:brown;
    background-size:auto;
}

.container2{
    color:greenyellow;
    background-size:auto;
}
